# Dependency directories
node_modules/
.env

# Hardhat files
/cache
/artifacts

# ZK Proof files (These are large/generated)
zkp/certificate_verify_js/
zkp/*.r1cs
zkp/*.sym

# TypeChain and Coverage
/typechain
/typechain-types
/coverage
/coverage.json

# Hardhat Ignition
ignition/deployments/chain-31337
# General ZK build files
ZKP/
zkp/
*.wasm
*.zkey
*.ptau
*.wtns